@charset "utf-8";

*{
    box-sizing:border-box;
}

/*main{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}*/

.pokemon{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    width: 275px;
    text-align: center;
}

article{
    display: flex;
}